<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Section_3/alpha-blog/app/assets/stylesheets/application.css">
    <title>Alpha Blog</title>
</head>
<body>
    <h1>Alpha Blog</h1>
    <h2>This page is all about us and how Alpha-Blog was first created</h2>
    <a href="/" target="_self" class="button">Back</a>
</body>
</html>