<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Section_3/alpha-blog/app/assets/stylesheets/application.css">
    <title>Alpha Blog</title>
</head>
<body>
    <h1>Alpha-Blog</h1>
    <h2>Welcome to the home of Alpha-Blog</h2>
    <%= link_to "Articles Listing", articles_path, method: :get %>
    <%= link_to "About Us", about_path, method: :get %>
</body>
</html>